<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gore -->
      <package
            uri="http://www.nemo.inf.ufes.br/gore/eca"
            class="eca.EcaPackage"
            genModel="model/gore.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gore -->
      <package
            uri="http://www.nemo.inf.ufes.br/gore"
            class="gore.GorePackage"
            genModel="model/gore.genmodel"/>
   </extension>

</plugin>
